<div class="postImage">
  <%= image_tag @post.image.to_s,class:"postImage__btn" %>
</div>
<div class="postTitle">
  <%= @post.title %>
</div>
<div class="postText">
  <%= simple_format @post.content %>
</div>
<div class="postDate">
  <%= @post.created_at.to_s(:datetime_jp) %>
</div>
<div class="postAuthor">
</div>
<% if user_signed_in? && current_user.id == @post.user_id %>
  <div class="postManage">
    <%= link_to "編集", edit_post_path(@post.id), class: "postManage__edit" %>
    <%= link_to "削除", post_path(@post.id), method: :delete, class: "postManage__delete", data: {confirm: '削除してもいいですか？'} %>
  </div>
<% end %>